In [2]:
import requests
from urllib.parse import urlparse
import pandas as pd
import folium

In [3]:
folium.__version__

'0.11.0'

In [4]:
df = pd.read_csv('커피업소정보.txt', encoding='euc-kr')

In [5]:
df.describe()

,상가업소번호,시도코드,시군구코드,행정동코드,법정동코드,지번코드,대지구분코드,지번본번지,지번부번지,도로명코드,건물본번지,건물부번지,구우편번호,신우편번호,경도,위도
count,9.325300e+04,93253.000000,93253.000000,9.325300e+04,9.325300e+04,9.325300e+04,93253.000000,93253.000000,72983.000000,9.325300e+04,93253.000000,17138.000000,93241.000000,93250.000000,93253.000000,93253.000000
mean,1.851832e+07,33.582491,33903.236132,3.390378e+09,3.390338e+09,3.390339e+18,1.004515,584.950125,19.432580,3.390358e+11,199.889966,10.426479,432468.604637,28394.722777,127.492218,36.613453
std,5.257161e+06,13.085771,13041.207283,1.304115e+09,1.304124e+09,1.304123e+18,0.067039,600.338110,83.307236,1.304120e+11,457.504883,16.984988,197124.644074,18793.977496,0.846310,1.081511
min,2.895912e+06,11.000000,11110.000000,1.111052e+09,1.111010e+09,1.111010e+18,1.000000,0.000000,1.000000,1.111020e+11,1.000000,1.000000,100011.000000,1000.000000,124.705937,33.117443
25%,1.263803e+07,27.000000,27110.000000,2.711056e+09,2.711011e+09,2.711011e+18,1.000000,157.000000,2.000000,2.711030e+11,20.000000,1.000000,302120.000000,11908.250000,126.916804,35.824562
50%,1.629364e+07,41.000000,41173.000000,4.117361e+09,4.117310e+09,4.117310e+18,1.000000,444.000000,6.000000,4.117343e+11,54.000000,5.000000,442784.000000,25505.500000,127.100078,37.179539
75%,2.335419e+07,44.000000,44133.000000,4.413358e+09,4.413311e+09,4.413311e+18,1.000000,836.000000,14.000000,4.413346e+11,178.000000,13.000000,607120.000000,44677.000000,128.114863,37.511264
max,2.852484e+07,50.000000,50130.000000,5.013062e+09,5.013032e+09,5.013062e+18,2.000000,9994.000000,9992.000000,5.013049e+11,9213.000000,345.000000,799821.000000,63644.000000,131.865624,38.584649

In [6]:
df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19911397,커피빈코리아선릉로93길점,코리아선릉로93길점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106960042022041,NaN,서울특별시 강남구 선릉로93길 6,135080.0,6149.0,NaN,1,NaN,127.047883,37.505675
1,20020124,스완카페트,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1156013300106040056037792,NaN,서울특별시 영등포구 도신로10가길 11-1,150070.0,7379.0,NaN,2,NaN,126.897710,37.503693
2,19973708,왕실,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1114012700101050000019781,NaN,서울특별시 중구 남대문로 52-13,100810.0,4535.0,NaN,1,NaN,126.982419,37.562274
3,20004707,커피빈,코리아교대점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1165010800116570005024412,카이스시스템빌딩,서울특별시 서초구 서초중앙로 118,137070.0,6634.0,NaN,1,NaN,127.014217,37.492388
4,19993199,고려대학교교육관쎄리오점,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1129012500100010002039525,고려대학교안암캠퍼스(인문사회계),서울특별시 성북구 안암로 145,136701.0,2841.0,NaN,1,32,127.031702,37.588485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93248,16309629,간단하지만특별한화피디Cafe,홍매뜨락마을,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4615010700100980004000001,NaN,전라남도 순천시 매곡2길 48-1,540948.0,57940.0,NaN,NaN,NaN,127.482852,34.959875
93249,16309593,투썸플레이스,전주평화점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4511113200107060007024618,자바데이브,전라북도 전주시 완산구 맏내3길 4,560844.0,55134.0,NaN,NaN,NaN,127.131685,35.792891
93250,16309552,투썸플레이스,서산테크노밸리점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4421036021110990000000001,NaN,충청남도 서산시 성연면 성연3로 57-7,356852.0,31931.0,NaN,NaN,NaN,126.449741,36.823623
93251,16308545,우리들이야기,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4615010700101390001075251,순복음사랑의교회,전라남도 순천시 매산길 26,540948.0,57940.0,NaN,NaN,NaN,127.482575,34.958675
93252,16306530,테이블웍스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4511114100106000001000003,NaN,전라북도 전주시 완산구 우전로 208,560800.0,55061.0,NaN,3.0,NaN,127.102077,35.812998

In [13]:
df.drop(["상가업소번호","상권업종대분류코드","상권업종대분류명","상권업종중분류코드","상권업종소분류코드","표준산업분류코드","건물관리번호","구우편번호","신우편번호","동정보","층정보","호정보"], axis=1)

,상호명,지점명,상권업종중분류명,상권업종소분류명,표준산업분류명,시도코드,시도명,시군구코드,시군구명,행정동코드,...,지번부번지,지번주소,도로명코드,도로명,건물본번지,건물부번지,건물명,도로명주소,경도,위도
0,커피빈코리아선릉로93길점,코리아선릉로93길점,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,11,서울특별시,11680,강남구,1168064000,...,42.0,서울특별시 강남구 역삼동 696-42,116804166502,서울특별시 강남구 선릉로93길,6,NaN,NaN,서울특별시 강남구 선릉로93길 6,127.047883,37.505675
1,스완카페트,NaN,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,11,서울특별시,11560,영등포구,1156072000,...,56.0,서울특별시 영등포구 대림동 604-56,115604154302,서울특별시 영등포구 도신로10가길,11,1.0,NaN,서울특별시 영등포구 도신로10가길 11-1,126.897710,37.503693
2,왕실,NaN,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,11,서울특별시,11140,중구,1114055000,...,NaN,서울특별시 중구 명동2가 105,111403101001,서울특별시 중구 남대문로,52,13.0,NaN,서울특별시 중구 남대문로 52-13,126.982419,37.562274
3,커피빈,코리아교대점,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,11,서울특별시,11650,서초구,1165051000,...,5.0,서울특별시 서초구 서초동 1657-5,116503121024,서울특별시 서초구 서초중앙로,118,NaN,카이스시스템빌딩,서울특별시 서초구 서초중앙로 118,127.014217,37.492388
4,고려대학교교육관쎄리오점,NaN,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,11,서울특별시,11290,성북구,1129060000,...,2.0,서울특별시 성북구 안암동5가 1-2,112903005035,서울특별시 성북구 안암로,145,NaN,고려대학교안암캠퍼스(인문사회계),서울특별시 성북구 안암로 145,127.031702,37.588485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93248,간단하지만특별한화피디Cafe,홍매뜨락마을,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,46,전라남도,46150,순천시,4615054000,...,4.0,전라남도 순천시 매곡동 98-4,461504649304,전라남도 순천시 매곡2길,48,1.0,NaN,전라남도 순천시 매곡2길 48-1,127.482852,34.959875
93249,투썸플레이스,전주평화점,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,45,전라북도,45111,전주시 완산구,4511169200,...,7.0,전라북도 전주시 완산구 평화동1가 706-7,451114598104,전라북도 전주시 완산구 맏내3길,4,NaN,자바데이브,전라북도 전주시 완산구 맏내3길 4,127.131685,35.792891
93250,투썸플레이스,서산테크노밸리점,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,44,충청남도,44210,서산시,4421036000,...,NaN,충청남도 서산시 성연면 일람리 1099,442103265065,충청남도 서산시 성연면 성연3로,57,7.0,NaN,충청남도 서산시 성연면 성연3로 57-7,126.449741,36.823623
93251,우리들이야기,NaN,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,46,전라남도,46150,순천시,4615054000,...,1.0,전라남도 순천시 매곡동 139-1,461504649309,전라남도 순천시 매산길,26,NaN,순복음사랑의교회,전라남도 순천시 매산길 26,127.482575,34.958675
93252,테이블웍스,NaN,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,45,전라북도,45111,전주시 완산구,4511171400,...,2.0,전라북도 전주시 완산구 효자동2가 1256-2,451113266055,전라북도 전주시 완산구 우전로,208,NaN,NaN,전라북도 전주시 완산구 우전로 208,127.102077,35.812998

In [58]:
is_seoul = df['시도명'] == '서울특별시'

In [59]:
is_gs = df['시군구명'] == '강서구'

In [73]:
gs_cafe = df[is_seoul & is_gs] #서울 강서구에있는 카페742개
gs_cafe.to_csv('강서구카페.csv', sep=',', index=False)

In [72]:
gs_cafe[gs_cafe['상호명'].str.contains('투썸플레이스|스타벅스|이디야')]

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
73,20083359,투썸플레이스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010900107120001000134,스카이시티,서울특별시 강서구 하늘길 38,157220.0,7505.0,NaN,1,NaN,126.800760,37.565956
100,20770737,투썸플레이스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010200100750001025384,삼부르네상스오피스텔,서울특별시 강서구 양천로 482,157030.0,7575.0,NaN,1,NaN,126.853909,37.561249
105,20680344,투썸플레이스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010900105810002001511,동인당약국,서울특별시 강서구 양천로14길 85-2,157220.0,7609.0,NaN,NaN,NaN,126.808870,37.569183
110,20609296,투썸플레이스,등촌점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010200106320006000001,파인블루빌딩,서울특별시 강서구 양천로 600,157030.0,7552.0,NaN,1,NaN,126.864658,37.555469
172,23306719,투썸플레이스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010300100590009017765,한성타운,서울특별시 강서구 초록마을로 36,157010.0,7722.0,NaN,1,NaN,126.846817,37.542556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22962,16184630,투썸플레이스,방화동,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010900104510011004767,동진빌딩,서울특별시 강서구 금낭화로16길 28,157849.0,7517.0,NaN,NaN,101,126.812950,37.573855
22972,16182786,투썸플레이스,두드림,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010300108480001023355,NaN,서울특별시 강서구 곰달래로 224,157904.0,7783.0,2,NaN,NaN,126.857860,37.531508
22978,16182694,투썸플레이스,넬비코로,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010600106580000008362,명성빌딩,서울특별시 강서구 공항대로38길 80,157825.0,7651.0,1,NaN,103,126.842034,37.556953
23055,16291240,투썸플레이스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010500107740002000001,보타닉파크타워2,서울특별시 강서구 공항대로 213,157805.0,7802.0,NaN,9,921,126.831352,37.559686
23056,16297432,투썸플레이스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010500107970001000001,퀸즈파크나인,서울특별시 강서구 공항대로 247,157805.0,7803.0,NaN,13,NaN,126.834810,37.559341

In [68]:
is_twosome = gs_cafe['상호명'] == '투썸플레이스'
is_twosome

73       True
100      True
105      True
110      True
172      True
         ...
22962    True
22972    True
22978    True
23055    True
23056    True
Name: 상호명, Length: 742, dtype: bool

In [57]:
 gs_cafe.str.contains('스타벅스|STAR')

AttributeError: 'DataFrame' object has no attribute 'str'

In [51]:
gs_cafe_star = df[gs_cafe & is_star]

TypeError: Cannot perform 'and_' with a dtyped [float64] array and scalar of type [bool]

In [48]:
gs_cafe

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
73,20083359,롯데시네마김포공항엔제리너스,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010900107120001000134,스카이시티,서울특별시 강서구 하늘길 38,157220.0,7505.0,NaN,1,NaN,126.800760,37.565956
100,20770737,드림커피,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010200100750001025384,삼부르네상스오피스텔,서울특별시 강서구 양천로 482,157030.0,7575.0,NaN,1,NaN,126.853909,37.561249
105,20680344,카페레인,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010900105810002001511,동인당약국,서울특별시 강서구 양천로14길 85-2,157220.0,7609.0,NaN,NaN,NaN,126.808870,37.569183
110,20609296,카페샤빌레,등촌점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010200106320006000001,파인블루빌딩,서울특별시 강서구 양천로 600,157030.0,7552.0,NaN,1,NaN,126.864658,37.555469
172,23306719,"커피,와+,버블티",NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010300100590009017765,한성타운,서울특별시 강서구 초록마을로 36,157010.0,7722.0,NaN,1,NaN,126.846817,37.542556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22962,16184630,커피볶는집,방화동,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010900104510011004767,동진빌딩,서울특별시 강서구 금낭화로16길 28,157849.0,7517.0,NaN,NaN,101,126.812950,37.573855
22972,16182786,간단하지만특별한화피디Cafe,두드림,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010300108480001023355,NaN,서울특별시 강서구 곰달래로 224,157904.0,7783.0,2,NaN,NaN,126.857860,37.531508
22978,16182694,간단하지만특별한화피디Cafe,넬비코로,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010600106580000008362,명성빌딩,서울특별시 강서구 공항대로38길 80,157825.0,7651.0,1,NaN,103,126.842034,37.556953
23055,16291240,코코커피,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010500107740002000001,보타닉파크타워2,서울특별시 강서구 공항대로 213,157805.0,7802.0,NaN,9,921,126.831352,37.559686
23056,16297432,레드캣,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1150010500107970001000001,퀸즈파크나인,서울특별시 강서구 공항대로 247,157805.0,7803.0,NaN,13,NaN,126.834810,37.559341

In [39]:
seoul = df[is_seoul]  #서울에만 있는 카페18341개

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [17]:
df2 = df[df['지번주소'].isin(['서울특별시 강서구'])]  
df2

Empty DataFrame
Columns: [상가업소번호, 상호명, 지점명, 상권업종대분류코드, 상권업종대분류명, 상권업종중분류코드, 상권업종중분류명, 상권업종소분류코드, 상권업종소분류명, 표준산업분류코드, 표준산업분류명, 시도코드, 시도명, 시군구코드, 시군구명, 행정동코드, 행정동명, 법정동코드, 법정동명, 지번코드, 대지구분코드, 대지구분명, 지번본번지, 지번부번지, 지번주소, 도로명코드, 도로명, 건물본번지, 건물부번지, 건물관리번호, 건물명, 도로명주소, 구우편번호, 신우편번호, 동정보, 층정보, 호정보, 경도, 위도]
Index: []

[0 rows x 39 columns]

In [13]:
df2.to_csv('gscafe1.csv', sep=',', encoding='utf8', index=False)